# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Compiled binaries
*.o
*.out
test_fmt_str

# Backup files
*.bak
*.swp
*.tmp
*.log

# Project specific
out/
flag
log/

# Virtual environment
venv/
ENV/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db